

#loading {
    height: 100vh;
}

#about {
    align-items: flex-start;
    justify-content: center;
    flex: row;
    color: red;
}



a:hover {
    text-decoration: none;
}

.messagetext {
    width: 100px;
    height: 200px;
}



/* LOADING */

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 7em;
    height: 7em;
    position: relative;
    margin: 0 auto;
}

.circle {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: #ff7f00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
